<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Calendar</title>
	<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css'>
	<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

	<!-- Calendar -->
	<div class="calendar-container">
		<div class="calendar-header">
			<button class="btn btn-light" onclick="javascript:todaySchedule();">Today</button>
			<div class="ico-arrow">
				<a href="#" id="leftButton" data-toggle="tooltip" onclick="javascript:prevMonth();" data-placement="top" title="이전">
					<i class="material-icons">
						chevron_left
					</i>
				</a>
				<a href="#" id="rightButton" data-toggle="tooltip" onclick="javascript:nextMonth();" data-placement="top" title="다음">
					<i class="material-icons">
						chevron_right
					</i>
				</a>
			</div>
			<div id="yearMonth"></div>
			<ul class="nav nav-tabs view-tab" id="view" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" onclick="javascript:monthlySchedule();" id="tab-month" data-toggle="tab" href="#month" role="tab" aria-controls="month" aria-selected="true">월</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" onclick="javascript:dailySchedule();" id="tab-day" data-toggle="tab" href="#day" role="tab" aria-controls="day" aria-selected="false">일</a>
				</li>
			</ul>
		</div>
		<div class="tab-content">
		
			<!-- month -->
			<div class="tab-pane active show" id="month" role="tabpanel" aria-labelledby="tab-month">
				<div class="monthly-calendar">
				
					<div class="week-day">
						<div class="day-name">일</div>
						<div class="day-name">월</div>
						<div class="day-name">화</div>
						<div class="day-name">수</div>
						<div class="day-name">목</div>
						<div class="day-name">금</div>
						<div class="day-name">토</div>
					</div>
					
					<div id="days">
					</div>
				</div>
			</div>
			<!-- month end -->
			
			<!-- day -->
			<div class="tab-pane" id="day" role="tabpanel" aria-labelledby="tab-day">
				<div class="daily-calendar" onclick='javascript:registerSchedule();'><span class="day-name" id="dayOfWeek"></span>
					<!-- <div class="event-consecutive event-start event-end" data-toggle="popover" data-html="true" data-placement="left" data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>
					        </div><div class="content-line"><i class="material-icons">
					notes
					</i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>연속 일정 1
					</div>
					<div class="event-consecutive event-start event-end" data-toggle="popover" data-html="true" data-placement="left" data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>
					        </div><div class="content-line"><i class="material-icons">
					notes
					</i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>연속 일정 2
					</div>
					<div class="event event-start event-end" data-toggle="popover" data-html="true" data-placement="left" data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>
					        </div><div class="content-line"><i class="material-icons">
					notes
					</i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>일반 일정 3
					</div>
					<div class="event-repeated event-start event-end" data-toggle="popover" data-html="true" data-placement="left" data-content='<div class="content-line"><div class="event-repeated-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span><span class="repeat-message">⋅매월 반복</span></div>
					        </div><div class="content-line"><i class="material-icons">
					notes
					</i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>반복 일정 1
					</div> -->
				</div>
			</div>
			<!-- day end -->
			
		</div>
	</div>
	<!-- Calendar end -->
	
</body>

<!-- Modal -->
<div class="modal fade" id="registerSchedule" tabindex="-1" role="dialog" aria-labelledby="registerScheduleLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="/addSchedule.do" name='scheduleInfo' method="post">
				<div class="modal-header">
					<h5 class="modal-title" id="registerScheduleLabel">일정 만들기</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-form-label">일정 제목</label>
						<input type="text" name='title' class="form-control" id="recipient-name">
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">일정 설명</label>
						<textarea class="form-control" name='contents' id="message-text"></textarea>
					</div>
					<div class="form-row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-form-label">일정 시작 날짜</label>
								<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
									<input type="text" name='dateStart' class="form-control datetimepicker-input" data-target="#datetimepicker1" />
									<div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="material-icons">calendar_today</i></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-form-label">일정 시작 시간</label>
								<div class="input-group date" id="datetimepicker2" data-target-input="nearest">
									<input type="text" name='timeStart' class="form-control datetimepicker-input" data-target="#datetimepicker2" />
									<div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="material-icons">access_time</i></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-form-label">일정 종료 날짜</label>
								<div class="input-group date" id="datetimepicker3" data-target-input="nearest">
									<input type="text" name='dateEnd' class="form-control datetimepicker-input" data-target="#datetimepicker3" />
									<div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="material-icons">calendar_today</i></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-form-label">일정 종료 시간</label>
								<div class="input-group date" id="datetimepicker4" data-target-input="nearest">
									<input type="text" name='timeEnd' class="form-control datetimepicker-input" data-target="#datetimepicker4" />
									<div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="material-icons">access_time</i></div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" name='repeatMonthly' type="checkbox" id="inlineCheckbox1" value="y">
							<label class="form-check-label" for="inlineCheckbox1">매월 반복</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" name='allDay' type="checkbox" id="inlineCheckbox2" value="y">
							<label class="form-check-label" for="inlineCheckbox2">하루 종일</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
					<button type="submit" onclick="javascript:addSchedule();" class="btn btn-primary">일정 만들기</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Modal end -->

<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script type="text/javascript">
   	$(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(function () {
        $('#view li:first-child a').tab('show')
    });

    $(function () {
        $('[data-toggle="popover"]').popover().on('inserted.bs.popover')
    });

    $(".event-consecutive, .event, .event-repeated").click(function(event) {
        event.stopPropagation();
    });

    $(function () {
        $('#datetimepicker1').datetimepicker({
        	format: 'YYYY-MM-DD'
       	});
        $('#datetimepicker3').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });

    $(function () {
        $('#datetimepicker2').datetimepicker({
            format: 'hh:mm:ss'
        });
        $('#datetimepicker4').datetimepicker({
            format: 'hh:mm:ss'
        });
    });
</script>

<script type="text/javascript">
	$( document ).ready(function() {
		drawCalendar();
	});
	
	var today = new Date();//현재 날짜
	var first = new Date(today.getFullYear(), today.getMonth(),1);//첫째 날
	var now;//dayliSchadule 기준 날짜
	var week = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];
	var leapYear=[31,29,31,30,31,30,31,31,30,31,30,31];//윤년
	var notLeapYear=[31,28,31,30,31,30,31,31,30,31,30,31];//윤년X
	var pageYear;//출력 페이지
	
	function drawCalendar(){
		readyDrawing();
		showYearMonth();
		showDays();
	}
	
	//윤년인지 아닌지
	function readyDrawing(){
		if(first.getFullYear() % 4 === 0){
		    pageYear = leapYear;
		}else{
		    pageYear = notLeapYear;
		}
	}
	
	//0000년 00월
	function showYearMonth(){
		var yearMonthString="<h4>";
		var year=today.getFullYear();
		var month= today.getMonth()+1;
		yearMonthString+=year+"년 ";
		yearMonthString+=month+"월<h4>";
		$("#yearMonth").html(yearMonthString);
	}
	
	//날짜 
	function showDays(){
		var dayString="";
	    var cnt = 1;
	    for(var i = 0; i < 6; i++){
	    	dayString+="<div class='week'>";
	        for(var j = 0; j < 7; j++){
	        	dayString+="<div class='day' onclick='javascript:registerSchedule();'>";
	            if((i === 0 && j < first.getDay()) || cnt > pageYear[first.getMonth()]){
	            	dayString+="<h3 class='day-label'></h3>";
	            }else{
	            	dayString+="<h3 class='day-label'>"+cnt+"</h3>";
	            	cnt++;
	            }
	            dayString+="</div>";
	        }
	        dayString+="</div>";
	    }
	    $("#days").html(dayString);
	}
	
	//이전 달
	function prevMonth(){
		today = new Date(today.getFullYear(), today.getMonth()-1, today.getDate());
		first = new Date(today.getFullYear(), today.getMonth(), 1);
		drawCalendar();
	}

	//다음 달
	function nextMonth(){
		today = new Date(today.getFullYear(), today.getMonth()+1, today.getDate());
		first = new Date(today.getFullYear(), today.getMonth(), 1);
		drawCalendar();
	}
	
	//일정 등록
	function registerSchedule(){
		$('#registerSchedule').modal('show');
	}
	
	//daily스케줄 view
	function dailySchedule(){
		now=first;//첫째 날 부터
		today=now;
		var dayOfWeek = week[now.getDay()];
		$('#dayOfWeek').html(now.getDate()+'일 '+dayOfWeek);
		$('#leftButton').attr("onclick","prevDay();");
		$('#rightButton').attr("onclick","nextDay();");
	}
	
	//전날 daily schedule
	function prevDay(){
		today = new Date(now.getFullYear(), now.getMonth(), now.getDate()-1);
		drawCalendar();
		now = new Date(now.getFullYear(), now.getMonth(),now.getDate()-1);
		var dayOfWeek = week[now.getDay()];
		$('#dayOfWeek').html(now.getDate()+'일 '+dayOfWeek);
	}
	
	//다음 날 daily schedule
	function nextDay(){
		today = new Date(now.getFullYear(), now.getMonth(), now.getDate()+1);
		drawCalendar();
		now = new Date(now.getFullYear(), now.getMonth(),now.getDate()+1);
		var dayOfWeek = week[now.getDay()];
		$('#dayOfWeek').html(now.getDate()+'일 '+dayOfWeek);
	}
	
	//monthly Schedule view	
	function monthlySchedule(){
		$('#leftButton').attr("onclick","prevMonth();");
		$('#rightButton').attr("onclick","nextMonth();");
	}
	
	//오늘 스케줄 view
	function todaySchedule(){
		today = new Date();
		first = new Date(today.getFullYear(), today.getMonth(),1);
		now=today;
		drawCalendar();
		var dayOfWeek = week[today.getDay()];
		$('#dayOfWeek').html(today.getDate()+'일 '+dayOfWeek);
	}
	
	function addSchedule(){
		var formObj=$("form");
		
		$('#remove').on("click",function(e){		
			formObj.attr("action","/board/remove");
			formObj.submit();
		});
		
		$('#list').on("click",function(e){
			formObj.attr("action","/board/list").attr("method","get");
			formObj.empty();
			formObj.submit();
		});

	}
</script>

</html>
